* {
  box-sizing: border-box;
}

:root {
  --primary-color: lightblue;
}

body {
  background-color: var(--primary-color);
}

h1 {
  width: 10%;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  margin: 0 auto;
}

.buttonStyle {
  background-color: orange;
  width: 10%;
}