* {
  box-sizing: border-box;
}

:root {
  --primary-color: lightblue;
}

body {
  background-color: var(--primary-color);
}

#modal-container {
  display: none;

}

#modal-container.is-visible {
  display: block;
  
  position: fixed;
  padding: 20px;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  z-index: 999;

  overflow: auto;

  display: grid;
  text-align: center;
}

h1 {
  width: 10%;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  margin: 0 auto;
}

.buttonStyle {
  background-color: orange;
  width: 10%;
}